Congratulations on building your own VSFTPD server using Ansible!!

This server belongs to {{ system_owner }}.
This server is based on a {{ ansible_facts['distribution'] }} machine.
It is a {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }} server.

